<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Product Catalog</title>
    <link href="https://{{& host}}/Content/ProductList.css" type="text/css" rel="stylesheet" />
    <link href="https://{{& host}}/Content/Categories.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="page-wrapper">
    {{#products}}
    <div class="catalog-wrapper {{cssClass}}">
        <img class="product-img" src="{{{mediumPicture.encodedUrl}}}" alt="">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <span>{{name}}</span>
        <span>{{origin}}</span>
        <span>{{unitSize}} {{unitsPerPackage}} / {{unitOfMeasure}}</span>
        <span>{{sku}}</span>
        <div class="logo">
            <img src="https://{{host}}/images/uhrenholt-logo.jpg" alt="">
        </div>
        <a class="company-link" href="#">www.uhrenholt.ru</a>
    </div>
    {{/products}}
</div>
</body>
</html>
